{% extends 'base.html.twig' %}
{% block title %}Administrator Login{% endblock %}
{% block body %}
<style>
    .error { color: red }
</style>

<div class="container">
    <h2>Administrator Login</h2>
    {% if error %}
        <span class="error">{{ error.messageKey }}</span>
    {% endif %}

    <form action="{{ path('login') }}" method="POST">
        <div class="form-group">
            <input type="text" name="_username" value="{{ last_username }}" placeholder="Username">
        </div>
        <div class="form-group">
            <input type="password" name="_password" placeholder="Password">
        </div>
        <div class="form-group">
            <input type="hidden" name="go_to" value="{{ path('index') }}"/>
            <input type="hidden" name="back_to" value="{{ path('login') }}"/>
            <button type="submit" class="btn" style="background-color: #275D38 !important; color: #FFFFFF;">Login</button>
        </div>
    </form>
</div>
{% endblock %}
