{% extends 'base.html.twig' %}
{% block title %} Reservation {% endblock %}

{% block body %}
    {% if reservations %}
        <table id="reservations" class="table table-striped">
            <thead>
                <tr>
                    <th>Reservation ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for reservation in reservations %}
                    {% if date()|date('m/d/y') < reservation.resdate|date('m/d/y') %}
                        <tr>
                            <td>{{ reservation.id }}</td>
                            <td>{{ reservation.firstname }} {{ reservation.lastname }}</td>
                            <td>{{ reservation.email }}</td>
                            <td>{{ reservation.resdate|date('m/d/y') }}</td>
                            <td>{{ reservation.restime|date('H:i:s') }}</td>
                            <td>
                                <a href="/reserve/{{ reservation.id }}" class="btn btn-dark">Show</a>
                                <a href="/reserve/edit/{{ reservation.id }}" class="btn btn-light">Edit</a>
                                <a href="#" class="btn btn-danger delete-reservation" data-id="{{ reservation.id }}">Delete</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No Reservations to Display</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}
