{% extends 'base.html.twig' %}
{% block title %} Reservation {% endblock %}

{% block body %}
    <h2>Success!</h2>
    <h4><strong>Reservation ID:</strong> {{ reservation.id }}</h4>
    <li>Name: {{ reservation.firstname }} {{ reservation.lastname }}</li>
    <li>Email: {{ reservation.email }}</li>
    <li>Reservation Date: {{ reservation.resdate|date('m/d/Y') }}</li>
    <li>Reservation Time: {{ reservation.restime|date('H:i:s') }}</li>
    <hr>
    <a href="/">Go Back</a>
{% endblock %}
