{% block title %} Confirmation {% endblock %}

{% block body %}
    <h2>Reservation Information</h2>
    <h4><strong>Reservation ID:</strong> {{ reservations.id }}</h4>
    <h4>Name: {{ reservations.firstname }} {{ reservations.lastname }}</h4>
    <h4>Email: {{ reservations.email }}</h4>
    <h4>Reservation Date: {{ reservations.resdate|date('m/d/Y') }}</h4>
    <h4>Reservation Time: {{ reservations.restime|date('H:i:s') }}</h4>
    <a href="10.52.2.41/reserve/edit/{{ reservations.id }}">Edit this reservation</a>
{% endblock %}
